BearishSandbox/BearishSandbox/obj/
BearishSandbox/BearishSandbox/bin/
MessiahSandbox/MessiahSandbox/obj/
MessiahSandbox/MessiahSandbox/bin/
ProjectSpaceGame/ProjectSpaceGame/obj/
ProjectSpaceGame/ProjectSpaceGame/bin/
ProjectSpaceGame/ProjectSpaceGameContent/obj/
ProjectSpaceGame/ProjectSpaceGameContent/bin/